<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <p> Here is your short links <p>
  <table>
    <tr>
      <td>Title</td>
      <td>Url</td>
    </tr>
    <% @links = @link.limit(2) %>
    <% @links.each do |link| %>
      <% @url_extension = links.id.to_s(40) %>
      <% @host = request.domain %>
      <% @short_url = "https://url-shortener-zedgell.herokuapp.com/#{@url_extension}" %>
      <tr>
        <td><%= link.title.truncate_words(4) %></td>
        <td><%= link_to("#{@short_url}", @short_url) %></td>
      </tr>
    <% end %>
  </table>
</div>